<div class="md-ui-app-item-list">
  <app-item
    *ngFor="let actor of actors" 
    [label]="actor.firstName + ' ' + actor.lastName" 
    [image]="actor.image"
    [ngClass]="[small ? 'md-ui-app-item-small':'', editable ? 'md-ui-app-item-editable':'']"
    [editable]="editable"
    [detailLink]="detailLink ? ['/actor/detail', actor.id ]:null"
    (click)="onClickActor(actor.id)">
  </app-item>
  <div *ngIf="editable" class="md-ui-app-item-add" (click)="onClickAddActor()">
      <mat-icon>add_circle</mat-icon>
  </div>
</div>
