<div class="md-ui-app-item-list">
  <app-item 
    *ngFor="let director of directors" 
    [label]="director.firstName + ' ' + director.lastName" 
    [image]="director.image"
    [ngClass]="[small ? 'md-ui-app-item-small':'', editable ? 'md-ui-app-item-editable':'']"
    [editable]="editable" 
    [detailLink]="detailLink?['/director/detail', director.id ]:null" (click)="onClickDirector(director.id)">
  >
  </app-item>
  <div *ngIf="editable" class="md-ui-app-item-add" (click)="onClickAddDirector()">
    <mat-icon>add_circle</mat-icon>
  </div>
</div>
