mat-toolbar#md-ui-toolbar {
    height:160px;
    background-color: black;
    background-image: url('/assets/images/toolbar-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

.md-ui-logo {
    margin-top:75px;
}


.mat-form-field#md-ui-search {
    display:block;
    margin: 0 auto ;
    width:90%;
}

#md-ui-search-container {
    margin:20px auto 20px auto;
    padding:0;
}


@media (max-width: 1400px) {
    mat-toolbar#md-ui-toolbar {
        height:160px;
        background-color: black;
        background-image: none;
        background-repeat: no-repeat;
        background-position: top center;
    }
}
